{% extends "layout.html" %}

{% block title %}
    Index
{% endblock %}

{% block main %}
    {% if not purchased_stocks %}
    <p>
        You currently don't own any stocks.
    </p>
    {% endif %}
    
    <main class="container py-5 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-start">Symbol</th>
                    <th class="text-start">Name</th>
                    <th class="text-end">Shares</th>
                    <th class="text-end">Price</th>
                    <th class="text-end">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for symbol in symbols_info %}
                    <tr>
                        <td class="text-start">{{ symbol["symbol"] }}</td>
                        <td class="text-start">{{ symbol["name"] }}</td>
                        <td class="text-end">{{ symbol["num_shares"] }}</td>
                        <td class="text-end">{{ symbol["price"] | usd }}</td>
                        <td class="text-end">{{ symbol["total_price"] | usd }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                    <td class="border-0 text-end">{{ user_cash | usd }}</td>
                </tr>
                <tr>
                    <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                    <td class="border-0 w-bold text-end">{{ total_cash | usd }} </td>
                </tr>
            </tfoot>
        </table>
    </main>

{% endblock %}